<div class="navigation">
  <div class="navigation__logo">
    <svg-icon class="icon" src="assets/icons/me.svg">
    </svg-icon>
    <div class="title">Khakimov</div>
    <div class="sub-title">Front-end developer</div>
  </div>
  <div class="navigation__bar">
    <div class="active-block"
         [ngStyle]="{'top': position + 'px'}"></div>
    <app-link *ngFor="let link of linkList"

              [logo]="link.logo"
              (click)="changeActionElement(link.id)"
              [routerLink]="'/' + link.id"
              [isActive]="link.isActive"
              [title]="link.name">
    </app-link>
  </div>
</div>
